@layer Reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  *:not(dialog) {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  button {
    border: none;
    outline: none;
  }
}

body {
  background-image: linear-gradient(90deg, #4743d0, #880868);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.page-head {
  color: white;
  padding-block: 1.5rem;
  font-size: calc(1.5rem + 1vw);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poke-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2.5rem;
  width: 100%;

  & input,
  button {
    background-color: #fff;
    padding: 20px 40px;
    border: none;
  }

  & input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }

  & button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
  }
}

.poke-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  padding: 1.5rem 2.5rem;
  width: 100%;
  gap: 1rem;
}

.footer-head {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
}

.poke-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }
}

.poke-name {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.poke-id {
  font-size: 18px;
  font-weight: bold;
  background-color: #ffd700;
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
}

.poke-weight {
  font-size: 18px;
  font-weight: bold;
  background-color: #1e90ff;
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
}

.poke-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.error-page-head {
  padding: 1rem 2rem;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-image: linear-gradient(90deg, #880868, #4743d0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 2rem;
  bottom: 30px;
  font-size: 17px;
}

.snackbar.show {
  visibility: visible;
  animation: sfadein 0.5s, sfadeout 0.5s 2.5s;
}

@keyframes sfadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes sfadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.poke-button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #1e90ff;
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  text-align: center;
  display: block;
  width: 50%;
  display: flex;
  align-items: center;
  margin-inline: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
  transition: all 200ms ease-in-out;

  & .icon {
    width: 24px;
    height: 24px;
  }
}

.poke-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fire {
  background-color: #ff6347;
}
.grass {
  background-color: #adff2f;
}
.electric {
  background-color: #ffff00;
  color: #333;
}
.water {
  background-color: #00bfff;
}
.ground {
  background-color: #d2691e;
}
.rock {
  background-color: #b8860b;
}
.fairy {
  background-color: #ffb6c1;
}
.poison {
  background-color: #da70d6;
}
.bug {
  background-color: #9acd32;
}
.dragon {
  background-color: #8a2be2;
}
.psychic {
  background-color: #ff69b4;
}
.flying {
  background-color: #add8e6;
}
.fighting {
  background-color: #dc143c;
}
.normal {
  background-color: #a9a9a9;
}
.ice {
  background-color: #afeeee;
}

.gradient-text {
  font-size: 24px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #000, #fff); /* Default gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.gradient-text.fire {
  background: linear-gradient(45deg, #ff4500, #ff6347);
  -webkit-background-clip: text;
}
.gradient-text.grass {
  background: linear-gradient(45deg, #008000, #adff2f);
  -webkit-background-clip: text;
}
.gradient-text.electric {
  background: linear-gradient(45deg, #ffd700, #ffff00);
  -webkit-background-clip: text;
}
.gradient-text.water {
  background: linear-gradient(45deg, #1e90ff, #00bfff);
  -webkit-background-clip: text;
}
.gradient-text.ground {
  background: linear-gradient(45deg, #8b4513, #d2691e);
  -webkit-background-clip: text;
}
.gradient-text.rock {
  background: linear-gradient(45deg, #a52a2a, #b8860b);
  -webkit-background-clip: text;
}
.gradient-text.fairy {
  background: linear-gradient(45deg, #ee82ee, #ffb6c1);
  -webkit-background-clip: text;
}
.gradient-text.poison {
  background: linear-gradient(45deg, #800080, #da70d6);
  -webkit-background-clip: text;
}
.gradient-text.bug {
  background: linear-gradient(45deg, #556b2f, #9acd32);
  -webkit-background-clip: text;
}
.gradient-text.dragon {
  background: linear-gradient(45deg, #4b0082, #8a2be2);
  -webkit-background-clip: text;
}
.gradient-text.psychic {
  background: linear-gradient(45deg, #ff1493, #ff69b4);
  -webkit-background-clip: text;
}
.gradient-text.flying {
  background: linear-gradient(45deg, #87ceeb, #add8e6);
  -webkit-background-clip: text;
}
.gradient-text.fighting {
  background: linear-gradient(45deg, #a52a2a, #dc143c);
  -webkit-background-clip: text;
}
.gradient-text.normal {
  background: linear-gradient(45deg, #808080, #a9a9a9);
  -webkit-background-clip: text;
}
.gradient-text.ice {
  background: linear-gradient(45deg, #00ced1, #afeeee);
  -webkit-background-clip: text;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-img {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  min-height: 780px;
  max-width: 600px;
  border-radius: 8px;
  position: relative;
}

.modal-wrapper {
  margin-top: 105px;
}

.modal-id {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  color: #9e9b9b;
}

.modal-name {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.modal-title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #9e9b9b;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.modal-types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 8px;
}

.modal-type-button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
}

.modal-type-button.steel {
  color: black;
}

.modal-pokedex-entry {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 8px;
}

.modal-pokedex-entry-desc {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin-bottom: 16px;
  max-width: 80%;
  margin-inline: auto;
}

.modal-abilities {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 8px;
}

.modal-abilities {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.modal-ability-button {
  display: inline-block;
  padding: 10px 40px;
  margin: 8px;
  border: 2px solid #87ceeb; /* Border rengi */
  border-radius: 25px; /* Köşeleri yuvarlat */
  background-color: transparent; /* Arkaplan rengi */
  color: #333; /* Metin rengi */
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.weakness-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  & div {
    margin-left: -12px;
  }
}

/* Responsive */
@media (width <=1300px) {
  .poke-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width <=1050px) {
  .poke-wrapper {
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem;
  }
}

@media (width <=768px) {
  .poke-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
  }
}

@media (width <=500px) {
  .poke-wrapper {
    padding: 1rem;
  }
}

@media (width <=450px) {
  .poke-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width <=390px) {
  .poke-form {
    & input,
    button {
      padding: 15px 30px;
    }
  }
}

@media (width <=345px) {
  .poke-form {
    margin-block: 1.5rem;
    & input,
    button {
      padding: 10px 20px;
    }
  }
}

@media (width <=305px) {
  .poke-form {
    margin-block: 1rem;

    & input,
    button {
      padding: 8px 6px;
    }
  }
}

.icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms all;
}

.icon img {
  width: 30px;
  height: 30px;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon.bug {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
}

.icon.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.icon.dragon {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.icon.electric {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.icon.fire {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
}

.icon.fairy {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.icon.fighting {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.icon.flying {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.icon.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.icon.grass {
  background: #5fbd58;
  box-shadow: 0 0 20px #5fbd58;
}

.icon.ground {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.icon.ice {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.icon.normal {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
  font-size: 0.8rem;
}

.icon.poison {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.icon.psychic {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.icon.rock {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.icon.steel {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.icon.water {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}
